* {
  box-sizing: border-box;
}
li {
  list-style: none;
}
ol {
  padding: 0;
}
.paymentTree {
  display: flex;
  flex-direction: column;
  height: 120px;
  border: 1px solid black;
  margin-bottom: 30px;
  font-size: 18px;
  width: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.paymentTreeHeader, .paymentTreeRow {
  display: grid;
  width: 100%;
  grid-template-columns: 45% 1fr 1fr;
  padding: 4px;
}
.paymentTreeHeader span {
  font-weight: 700;
}
.paymentTreeRow:hover {
  cursor: context-menu;
  background-color: lightblue;
}
.paymentTreeRow.selected {
  background-color: lightseagreen;
}